html,body {
	height: 100%;
	min-height: 100%;
    font-family: monospace;
    font:normal 14px Monospace, Helvetica, sans-serif;
    background-color: #303a46;
    margin: 0;
    padding: 0;
    position: relative;
    color: #bd9c7d;
	font-size:34px;
}

img {
    border:none;
}

#alles {
	margin:auto;
	top:100px;
	height:500px;
	width:800px;
	background-color:#122;
	display:block;
	position:relative;
}

.content {
	height:500px;
	width:760px;
	display:inline-block;
	background-image:url(img/bg.png);
}

#backgammon{
	margin:60px 100px;
	padding-left:9px;
	height:300px;
/* 	width:400px; */
	cursor:pointer;
	line-height:0.98;
}


.n1 {
    color:#122;
}

#selected{
	color:white;
}
